#!/usr/bin/env python
PACKAGE = "oshkosh_model"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("Steer_control_P",	double_t,	0,	"Porptional",	20000,	0,  50000)
gen.add("Steer_control_I",	double_t,	0,	"Porptional",	0.0,    0,  1000)
gen.add("Steer_control_D",	double_t,	0,	"Differential",	2000,	0,  10000)	
#Engine power, Velocity damping and steering speed:
gen.add("Power",	double_t,	0,	"Power multiplier",	4000,	0,  10000)	
gen.add("Damping",	double_t,	0,	"Velocity Damping",	100,	0,  1000)	
gen.add("Steering",	double_t,	0,	"streeing power",	1,	0,  1000)	
#Suspension system values:
gen.add("Spring",	double_t,	0,	"suspension spring",	200001,	0,  500000)	
gen.add("Damper",	double_t,	0,	"suspesion Damping",	8005,	0,  500000)	
gen.add("Target",	double_t,	0,	"suspesion Target",	0.1,	-2,  2)	#Engine power, Velocity damping and steering speed.
gen.add("Spring_back",	double_t,	0,	"suspension spring",	80001,	0,  500000)	
gen.add("Damper_back",	double_t,	0,	"suspesion Damping",	8005,	0,  100000)	
gen.add("Target_back",	double_t,	0,	"suspesion Target",	0.1,	-2,  2)	#Engine power, Velocity damping and steering speed.
gen.add("Spring_torsion_back",	double_t,	0,	"suspension spring",	80001,	0,  500000)	
gen.add("Damper_torsion_back",	double_t,	0,	"suspesion Damping",	8005,	0,  100000)	
gen.add("Target_torsion_back",	double_t,	0,	"suspesion Target",	0,	-2,  2)	#Engine power, Velocity damping and steering speed.
exit(gen.generate(PACKAGE, "oshkosh_model_reconfig_node", "oshkosh_model"))
